{% extends "base.html" %}
{% load static %}

 {% block title %} 
 cart summary - cart 
 {%endblock %}

 {% block content%}
 <div class="cart justify-content-center">
  <h2 class="cart-title text-align-center">Your Cart</h2>
  <h5>View Your cart.....</h5>
  <div class="cart-content">
    <div class="cart-box">
      <img src="{% static 'images/furnitures/bedroom1.jpg' %}" class="cart-img" alt="">
      <div class="cart-detail">
        <h2 class="cart-product-title">6 by 6 king sized bed</h2>
        <span class="cart-price">Ksh.45,000</span>
        <div class="cart-quantity">
        <button id="decreament">-</button>
        <span class="number">1</span>
        <button id="increament">+</button>
        </div> 
      </div>
      <i class="bi bi-trash cart-remove"></i>
    </div>
  </div>
    <div class="total">
      <div class="total-title">Total</div>
      <div class="total-price">Ksh.0</div>
    </div>
    <button class="btn-buy">Buy Now</button>
    <i class="bi bi-x"></i>
 </div>
{% endblock content %}