
.hero {
  position: relative;
  height: 70vh; /* Adjust height */
  overflow: hidden;
   margin-bottom: 80px;
}

.hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.3));/* Dark overlay */
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff; /* Ensure text is white */
}


/* Collection section */
.collections {
  margin-top: 40px;
  margin-bottom: 80px;
}
.collection-images {
  display: flex;           /* arrange images in a row */
  gap: 20px;               /* space between images */
  flex-wrap: wrap;         /* wrap to next line on small screens */
  justify-content: center; /* center the row */
}

.collection-images img {
  width: 250px;    /* fixed width for all images */
  height: auto;    /* maintain aspect ratio */
  border-radius: 8px; /* optional: rounded corners */
  object-fit: cover;  /* ensures images cover their area nicely */
}

.card-img-container {
  width: 100%;
  height: 200px;          
  overflow: hidden;        
}
.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;         
}



/* Product  */

.product-header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 9%;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.cart-icon{
  position: relative;
  display: flex;
  font-size: 30px;
  cursor: pointer;
}
.cart-icon .cart-element-count{
  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  background-color: rgb(226, 28, 28);
  border-radius: 50%;
  font-size: 12px;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

}
.products{
  padding: 100px 9px 30px;

}
.section-title{
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;

}
.product-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
  gap: 30px;
  
}
.product-box {
  background: #fff;
  border-radius: 12px;
  padding:5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  overflow: hidden;
}

.product-box .img-box{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  
}
.product-box .product-name{
  font-size: 20px;
  margin-top: 10px;
}
.product-box .price-and-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-and-cart .price{
  font-size: 18px;
  font-weight: 500;
}
.price-and-cart .bi-bag{
  padding: 5px;
  background: #FFF3CD;
  border-radius: 6px;
  font-size: 18px;
  color: black;
  cursor: pointer;
}


.product-box .img-box{
  position: relative;
}
.img-box img{
  width: 100%;
  transition: 0.5s;
}
.img-box .badge{
  top:0.5rem; 
  right:0rem; 
  z-index:100;
}
.img-box:hover img{
  transform: scale(1.1);
}

footer {
  padding-top: 40px;
  margin-top: 60px;
}